#  EDUNET FOUNDATION -Self Practise Notebook
# LAB 16- Importing dataset and splitting data

Steps to split data into training and testing:

Create the Data Set or create a dataframe using Pandas.
Shuffle data frame using sample function of Pandas.
Select the ratio to split the data frame into test and train sets.
Split data frames into training and testing data frames using slicing.
Calculate total rows in the data frame using the shape function of Pandas.
Letâ€™s implement these parts with an example.

In [24]:
import pandas as pd

# Creating sample dataset
df = pd.DataFrame({
	"Roll Number": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
	"Name": [" ANUJ", "APOORV", "CHAITANYA", "HARSH",
			" SNEHA", " SHREYA", "VAIBHAV", "YASH", "AKSHAY", "ANCHIT"],
	"Age": [16, 17, 19, 21, 20, 18, 22, 20, 18, 20],
	"Section": ['A', 'J', 'H', 'F', 'C', 'E', 'K', 'M', 'I', 'J']
})
df

   Roll Number       Name  Age Section
0            1       ANUJ   16       A
1            2     APOORV   17       J
2            3  CHAITANYA   19       H
3            4      HARSH   21       F
4            5      SNEHA   20       C
5            6     SHREYA   18       E
6            7    VAIBHAV   22       K
7            8       YASH   20       M
8            9     AKSHAY   18       I
9           10     ANCHIT   20       J

One of the challenges while splitting the data is that we would like to select rows randomly for the training as well as the training data. This functionality can be achieved by using the sample() method as shown below.

In [25]:
# Shuffle dataframe using sample function
df = df.sample(frac=1)
df

   Roll Number       Name  Age Section
6            7    VAIBHAV   22       K
1            2     APOORV   17       J
9           10     ANCHIT   20       J
8            9     AKSHAY   18       I
0            1       ANUJ   16       A
5            6     SHREYA   18       E
3            4      HARSH   21       F
7            8       YASH   20       M
4            5      SNEHA   20       C
2            3  CHAITANYA   19       H

In [26]:
# Select ratio
ratio = 0.75

total_rows = df.shape[0]
train_size = int(total_rows*ratio)

# Split data into test and train
train = df[0:train_size]
test = df[train_size:]

In [27]:
# print train set
print("Train dataframe")
print(train)

# print test set
print("Test dataframe")
print(test)

Train dataframe
   Roll Number     Name  Age Section
6            7  VAIBHAV   22       K
1            2   APOORV   17       J
9           10   ANCHIT   20       J
8            9   AKSHAY   18       I
0            1     ANUJ   16       A
5            6   SHREYA   18       E
3            4    HARSH   21       F
Test dataframe
   Roll Number       Name  Age Section
7            8       YASH   20       M
4            5      SNEHA   20       C
2            3  CHAITANYA   19       H

In [28]:
train.shape, test.shape

((7, 4), (3, 4))

# Train Test Split Using Sklearn
The train_test_split() method is used to split our data into train and test sets. 

First, we need to divide our data into features (X) and labels (y). The dataframe gets divided into X_train,X_test , y_train and y_test. X_train and y_train sets are used for training and fitting the model. The X_test and y_test sets are used for testing the model if itâ€™s predicting the right outputs/labels. we can explicitly test the size of the train and test sets. It is suggested to keep our train sets larger than the test sets.

Train set: The training dataset is a set of data that was utilized to fit the model. The dataset on which the model is trained. This data is seen and learned by the model.
Test set: The test dataset is a subset of the training dataset that is utilized to give an accurate evaluation of a final model fit.

validation set:  A validation dataset is a sample of data from your modelâ€™s training set that is used to estimate model performance while tuning the modelâ€™s hyperparameters.

Syntax: sklearn.model_selection.train_test_split()

parameters:

*arrays: sequence of indexables. Lists, numpy arrays, scipy-sparse matrices, and pandas dataframes are all valid inputs.
test_size: int or float, by default None. If float, it should be between 0.0 and 1.0 and represent the percentage of the dataset to test split. If int is used, it refers to the total number of test samples. If the value is None, the complement of the train size is used. It will be set to 0.25 if train size is also None.
train_size: int or float, by default None. 
random_state : int,by default None. Controls how the data is shuffled before the split is implemented. For repeatable output across several function calls, pass an int.
 
shuffle: boolean object , by default True. Whether or not the data should be shuffled before splitting. Stratify must be None if shuffle=False.
stratify: array-like object , by default it is None. If None is selected, the data is stratified using these as class labels.

In [1]:
# import packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# importing data
df = pd.read_csv('headbrain1.csv')

# head of the data
print(df.head())

X= df['Head Size(cm^3)']
y=df['Brain Weight(grams)']

# using the train test split function
X_train, X_test,y_train, y_test = train_test_split(X,y ,random_state=104,test_size=0.25,shuffle=True)
# printing out train and test sets

print('X_train : ')
print(X_train.head())
print('')
print('X_test : ')
print(X_test.head())
print('')
print('y_train : ')
print(y_train.head())
print('')
print('y_test : ')
print(y_test.head())

   Head Size(cm^3)  Brain Weight(grams)
0             4512                 1530
1             3738                 1297
2             4261                 1335
3             3777                 1282
4             4177                 1590
X_train :
99     3478
52     4270
184    3479
139    3171
107    3399
Name: Head Size(cm^3), dtype: int64

X_test :
66     3415
113    3594
135    3436
227    4204
68     4430
Name: Head Size(cm^3), dtype: int64

y_train :
99     1270
52     1335
184    1160
139    1127
107    1226
Name: Brain Weight(grams), dtype: int64

y_test :
66     1310
113    1290
135    1235
227    1380
68     1510
Name: Brain Weight(grams), dtype: int64